@model IEnumerable<hottoc.Models.ChucVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý chức vụ</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HeSoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuongCoBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenChucVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HeSoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuongCoBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenChucVu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
