@model hottoc.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết hóa đơn</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongSLSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongSLSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTienSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTienSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongSLDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongSLDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachTra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiLai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
