<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    <script>
        window.onload = (function () {
            const currentPath = window.location.href.split("/")[3];
            if (currentPath != undefined) {
                document.getElementById("href_" + currentPath).classList.add("active");
            }
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Quản lý panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-row-reverse flex-grow-1">
                    @if (Session["IDNV"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content">
        <div class="sidenav">
            @if (Session["Role"] == null)
            {
                <a href="@Url.Action("Index", "Login")">Đăng nhập</a>
            }
            else
            {
                <a id="href_CongNhanVien" href="@Url.Action("Index", "CongNhanVien")">Bảng công</a>
                <a id="href_DichVu" href="@Url.Action("Index", "DichVu")">Dịch vụ</a>
                <a id="href_HinhAnh" href="@Url.Action("Index", "HinhAnh")">Hình ảnh</a>
                <a id="href_KhachHang" href="@Url.Action("Index", "KhachHang")">Khách hàng</a>
                <a id="href_LichHen" href="@Url.Action("Index", "LichHen")">Lịch hẹn</a>
                <a id="href_NhanVien" href="@Url.Action("Index", "NhanVien")">Nhân Viên</a>
                <a id="href_SanPhamKem" href="@Url.Action("Index", "SanPhamKem")">Sản phẩm bán kèm</a>
                <a id="href_HoaDon" href="@Url.Action("Index", "HoaDon")">Hoá đơn</a>
                if ((bool)Session["CanEdit"])
                {
                    <a href="@Url.Action("Index", "TaiKhoan")">Tài khoản</a>
                    <a href="@Url.Action("Index", "ChucVu")">Chức vụ</a>
                }
            }
        </div>
        <main class="container">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
